{% extends "design.html" %}
{% block script %}
{% endblock script %}

{% block my_content %}

<div class="content-header">
  <div class="container-fluid"  align = "center">
    <div class="row mb-2">
      <div class="col-sm-6" >
        <h1 class="m-0 text-dark">COVID-19 Sentiment analysis Dashboard </h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<br><br>

<div class="container-fluid">


    <div class="row mb-2">
        <div class="col-sm-6" >
            <form  action="/" method="POST">
            <label for="start">Select the a day:</label>
                <select id = "start" name="day"  method="POST" class="form-select" >
                     <option selected>Select a Day </option>
                    {% for day in days_in_weeks %}
                      <option value={{ day }}>{{ day }}</option>
                    {% endfor %}
                </select>

                <input type="Submit" value="Submit">
            </form>
        </div><!-- /.col -->
    </div><!-- /.row -->


     <div class="row">
         <div class="col-lg-2" >
            <div class="card" align = "left">
                  <h5 class="card-title" align = "center">General Covid-19 Sentiment</h5>
                  <div class="card-body">
                  {% if sentiment_general == "positive" %}
                     <img style='height: 100%; width: 100%; object-fit: contain' src="https://cdn4.iconfinder.com/data/icons/emoji-66/64/05-happy-512.png"
                  alt="positive emoji" align="center">
                      <p class="card-text" align = "center">positive</p>
                  {% else %}
                      <img style='height: 100%; width: 100%; object-fit: contain' src="https://cdn4.iconfinder.com/data/icons/emoji-66/64/03-sad-512.png"
                      alt="negative emoji" align="center">
                      <p class="card-text" align = "center">negative</p>
                  {% endif %}
                  </div><!-- /.card-body -->
            </div><!-- /.card -->
        </div><!-- /.col -->

        <div class="col-lg-2"  >
            <div class="card" align = "center"  >
                <h5 class="card-title" align = "center">Vaccincation Sentiment</h5>
                  <div class="card-body">
                      {% if sentiment_vaccination == "positive" %}
                     <img style='height: 100%; width: 100%; object-fit: contain' src="https://cdn4.iconfinder.com/data/icons/emoji-66/64/05-happy-512.png"
                        alt="positive emoji" align="center">
                      <p class="card-text" align = "center">positive</p>
                  {% else %}
                      <img style='height: 100%; width: 100%; object-fit: contain' src="https://cdn4.iconfinder.com/data/icons/emoji-66/64/03-sad-512.png"
                      alt="negative emoji" align="center">
                      <p class="card-text" align = "center">negative</p>
                  {% endif %}
                  </div><!-- /.card-body -->
            </div><!-- /.card -->
        </div><!-- /.col -->

        <div class="col-lg-2" align = "right" >
            <div class="card" align = "right">
                <h5 class="card-title" align = "center">Restriction Sentiment</h5>
                <div class="card-body">
                {% if sentiment_restriction == "positive" %}
                    <img style='height: 100%; width: 100%; object-fit: contain' src="https://cdn4.iconfinder.com/data/icons/emoji-66/64/05-happy-512.png"
                    alt="Flowers in Chania" align="center">
                    <p class="card-text" align = "center">
                     positive
                    </p>
                {% else %}
                    <img style='height: 100%; width: 100%; object-fit: contain' src="https://cdn4.iconfinder.com/data/icons/emoji-66/64/03-sad-512.png"
                    alt="negative" align="center">
                    <p class="card-text" align = "center">
                     negative
                    </p>
                {% endif %}
              </div><!-- /.card-body -->
            </div><!-- /.card -->
        </div><!-- /.col -->
     </div><!-- /.row -->





    <div class="row">
        <div class="col-lg-4" >
            <div class="card" align = "center">
                <div id="pie_general_sentiment" >
                    <script >
                    var pie_general_sentiment = {{sentiment_pie.pie_general_sentiment | safe}};
                    Plotly.plot('pie_general_sentiment',pie_general_sentiment,{});
                    </script>
                </div>
            </div><!-- /.card -->
        </div><!-- /.col -->

     <div class="col-lg-4" >
         <div class="card" align = "center">
             <div id="pie_vaccination_sentiment" >
                 <script >
                     var pie_vaccination_sentiment = {{sentiment_pie.pie_vaccination_sentiment | safe}};
                     Plotly.plot('pie_vaccination_sentiment',pie_vaccination_sentiment,{});
                 </script>
             </div>
         </div><!-- /.card -->
     </div><!-- /.col -->

    <div class="col-lg-4" >
         <div class="card" align = "center">
             <div id="pie_restriction_sentiment" >
                 <script >
                     var pie_restriction_sentiment = {{sentiment_pie.pie_restriction_sentiment | safe}};
                     Plotly.plot('pie_restriction_sentiment',pie_restriction_sentiment,{});
                 </script>
             </div>
         </div><!-- /.card -->
     </div><!-- /.col -->

    </div>








    <div class="content-header"  align = "center">
        <div class="container-fluid"  align = "center">
            <div class="row mb-2">
                <div class="col-sm-6" >
                    <h1 class="m-0 text-dark" align="left">WordCloud Visualisation</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div><!-- /.content-header -->

    <div class="row">
        <div class="col-lg-4" >
            <div class="card" align = "center">
                <h5 class="card-title" align = "center">General Covid-19 WordCloud</h5>
                <div class="card-body">
                    <img style='height: 100%; width: 100%; object-fit: contain' src= "{{url_for('static', filename='general_wordcloud.png')}}" alt="Word Cloud" width="500" height="500" align="center">
                </div>
            </div><!-- /.card -->
        </div><!-- /.col -->

        <div class="col-lg-4" >
            <div class="card" align = "center">
                <h5 class="card-title" align = "center">Vaccincation WordCloud</h5>
                <div class="card-body">
                    <img style='height: 100%; width: 100%; object-fit: contain'src="{{url_for('static', filename='word_cloudvaccination.png')}}" alt="Word Cloud" width="500" height="500" align="center">
                </div>
            </div><!-- /.card -->
        </div><!-- /.col -->

        <div class="col-lg-4" >
            <div class="card" align = "center">
                <h5 class="card-title" align = "center">Restriction WordCloud</h5>
                <div class="card-body">
                    <img style='height: 100%; width: 100%; object-fit: contain'src="{{url_for('static', filename='word_cloudrestriciton.png')}}" alt="Word Cloud" width="500" height="500" align="center">
                </div>
            </div><!-- /.card -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="content-header"  align = "center">
        <div class="container-fluid"  align = "center">
            <div class="row mb-2">
                <div class="col-sm-6" >
                  <h1 class="m-0 text-dark" align="left">Top Hashtag Used in the Datasets</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div><!-- /.content-header -->

	<div class="row">


        <div class="col-lg-4" >
             <div class="card" align = "center">
                 <div id="line_general" >
                     <script >
                         var line_general = {{plots.line_general | safe}};
                         Plotly.plot('line_general',line_general,{});
                     </script>
                 </div>
             </div><!-- /.card -->
         </div><!-- /.col -->

        <div class="col-lg-4" >
             <div class="card" align = "center">
                 <div id="line_vaccination" >
                     <script >
                         var line_vaccination = {{plots.line_vaccination | safe}};
                         Plotly.plot('line_vaccination',line_vaccination,{});
                     </script>
                 </div>
             </div><!-- /.card -->
         </div><!-- /.col -->

        <div class="col-lg-4" >
             <div class="card" align = "center">
                 <div id="line_restriction" >
                     <script >
                         var line_restriction = {{plots.line_restriction | safe}};
                         Plotly.plot('line_restriction',line_restriction,{});
                     </script>
                 </div>
             </div><!-- /.card -->
         </div><!-- /.col -->


	</div><!-- /.row -->

     <div class="row">
         <div class="col-lg-12" align="center" >
             <div class="card" align = "center">
                 <div id="all_line_scatters" >
                     <script >
                         var all_line_scatters = {{plots.all_line_scatters | safe}};
                         Plotly.plot('all_line_scatters',all_line_scatters,{});
                     </script>
                 </div>
             </div><!-- /.card -->
         </div><!-- /.col -->
    </div>

     <div class="content-header"  align = "center">
        <div class="container-fluid"  align = "center">
            <div class="row mb-2">
                <div class="col-sm-6" >
                  <h1 class="m-0 text-dark" align="left">Top Users Tweeted about COVID-19 </h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div><!-- /.content-header -->


    <div class="row">


         <div class="col-lg-4" >
             <div class="card" align = "center">
                 <div id="user_general" >
                     <script >
                         var user_general = {{plots.user_general | safe}};
                         Plotly.plot('user_general',user_general,{});
                     </script>
                 </div>
             </div><!-- /.card -->
         </div><!-- /.col -->

         <div class="col-lg-4" >
             <div class="card" align = "center">
                 <div id="user_vaccination" >
                     <script >
                         var user_vaccination = {{plots.user_vaccination | safe}};
                         Plotly.plot('user_vaccination',user_vaccination,{});
                     </script>
                 </div>
             </div><!-- /.card -->
         </div><!-- /.col -->

        <div class="col-lg-4" >
             <div class="card" align = "center">
                 <div id="user_restriction" >
                     <script >
                         var user_restriction = {{plots.user_restriction | safe}};
                         Plotly.plot('user_restriction',user_restriction,{});
                     </script>
                 </div>
             </div><!-- /.card -->
         </div><!-- /.col -->
    </div>

    <div class="row">
        <div class="col-lg-12" >
             <div class="card" align = "center">
                <div id="general-table" >
                    <script >
                        var table = {{plots.table | safe}};
                        Plotly.plot('general-table',table,{});
                    </script>
                </div>
             </div>
        </div>
    </div>

</div><!-- /.container-fluid -->

{% endblock my_content %}